#study-img {
  position: fixed;
  width: 100%;
  height: auto;
}

#outer-about-me {
  position: relative;
  width: 100%;
  background-color: beige;
}

section#outer-about-me section {
  position: relative;
  background-color: beige;
  width: 100%;
}

section#outer-about-me section p {
  position: fixed;
  width: 75%;
  height: auto;
  margin: 20% 10%;
  margin-left: 18%;
  color: white
}

#h2-about-me {
  position: fixed;
  margin: 11% 18%;
  color: white
}
