@import 'normalize';
@import 'form';
@import 'animations-home';
@import 'logo-trunks';
@import 'shapes-background';
@import 'logo-img';
@import 'about-me';

$base-width: 100%;
$base-height: 100%;
$base-padding: 5%;
$base-margin: 30% 0;
$shadow-color: transparentize(black, 0.5);
$href-color: green;
$button-color: rgb(186,218,85);
$corner-top-left-color: rgb(58,190,255);
$header-color: rgb(128,123,135);
$prime-color: rgba(51, 124, 160, 1);
// $base-font-google: 'Bad Script', 'cursive';
// $base-font-google2: 'La BelleAurore', 'cursive';
$base-font-google3: 'Quicksand', 'sans-serif';
$base-font-google4: 'Alegreya Sans', 'sans-serif';
$base-font-size: 1.2em;
$block-width: 9em;
$block-height: 25%;
$break-small: 545px;
html {
  width: 100%;
  height: 100%;
}

body, main {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  background-attachment: fixed;
  font-family: $base-font-google3;
  font-size: $base-font-size;
}

main {
  position: relative; //added
  height: 100%; //added
  width: 100%; //added
  //top: 75px;
}

header {
  position: fixed;
  display: block; // was inline block
  width: 100%;
  color: white;
  z-index: 9999;
}

header h2 {
  display: inline-block;
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: $base-font-google4;
  font-size: xx-large;
  background-color: $button-color;
  letter-spacing: 23px;
  color: white;
}

header span,  {
  display: inline-block;
  padding: 0 5%;
}

.icon-sec {
  text-align: center;
  background-color: $prime-color;
}

.icon-sec span {
  padding: 1% 10%;
}

nav {
  width: 100%;
  height: 100%;
  position: absolute;
}

nav ul {
  display: flex;
  height: auto; //added
  // flex-direction: row;
  // flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 15% 0; //added
  // margin-top: 15%;
}

nav ul li {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 15em;
  height: 15em;
  margin: 1%;
  //align-self: center; //added
  text-align: center;
}

.nav-a-tag {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 2em;
}

a:link {
  color: $button-color;
  text-decoration: none;
}

a:visited {
  color: $button-color;
  text-decoration: underline;
}

a:hover {
  color: $prime-color;
  text-decoration: none;
}


#nav-plant, #nav-plant2, #nav-flower {
  height: 100%;
}

#nav-plant2, #nav-plant {
  text-align: center;
}

#nav-carrot, #nav-flower {
  text-align: center;
}

#animations-nav {
  right: 30%;
  text-align: center;
}

#blog-nav {
  right: 40%;
  width: 200px;
  text-align: center;
}



.sec-container {
  display: inline-block;
  width: 100%;
  background-color: beige;
}

#repeater-sec {
  background-color: rgba(255,255,255,0.6);
  margin: 0 10%;
}

#repeater:nth-child(even) {
  width: 80%;
  padding: 0 10%;
  // background: $repeater-even-color;
}

#repeater:nth-child(odd) {
  width: 80%;
  padding: 0 10%;
}

#github-avatar {
  width: 30%;
}

#github-profile {
  padding: 0 10%;
  margin: 10% 0%;
}


span a {
  overflow-wrap: break-word;
}

footer {
  width: 100%;
  // background-color: $footer-color;
  font-family: $base-font-google3;
}

footer ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer ul li {
  display: inline-block;
  list-style: none;
  padding: 10% 10%;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 200px;
  background-color: saddlebrown;
}

#footer-p {
  text-align: left;
  position: relative;
  top: 138px;
  padding-left: 2%;
}

@media only screen and (max-width: $break-small) {
  nav ul {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 888px) {
  nav ul {
    flex-wrap: wrap;
    margin-top: 15%;
  }
  nav ul li {
    width: 15em;
  }
  #nav-flower {
    margin-right: 3%;
  }
  #footer-p {
    text-align: left;
    position: relative;
    top: 0;
    padding-left: 2%;
  }
  footer {
    width: 100%;
    font-family: Quicksand,sans-serif;
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: #8b4513;
  }
}
