$background: beige;

.logo-outer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20%;
  background-color: $background;
  background-attachment: fixed;
}


// .sticky-section {
//   position: fixed;
//   width: 100%;
//   text-align: center;
//   background-color: rgba(0,0,0, 0.6);
//   color: white;
//   margin-top: 26px
// }

.non-sticky {
  position: fixed;
  top: 88px;
  left: 0px;
  z-index: 9999;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0, 0.6);
  color: white;
}

.logo-img-containers {
  width: 21em;
  background-color: rgba(255,255,255,0.6);
  padding: 10% 5%;
  margin: 5%;
}

#first-logo-container {
  width: 21em;
  background-color: rgba(255,255,255,0.6);
  padding: 10% 5%;
  margin: 12%;
}

#ridesharetealogo {
  width: 20.8em;
}

#tealogo {
  position: relative;
  left: 4em;
}

#shelseylogo {
  position: relative;
  left: 4em;
}

@media only screen and (max-width:725px) {
  .logo-outer-container {
    padding-top: 30%;
  }
}
