<section id="outer-about-me" ng-cloak ng-controller="AboutMeController as about">
  <section>
    <img id="study-img" src="img/study2.jpeg" alt="study" />
    <h2 id="h2-about-me">About Me :</h2>
    <p>My passion in life is coding, cooking and traveling. In 2015, I decided to move from Hawaii to Seattle with the idea in mind that I would go back to school for programming. That was the best decision I had ever made! A year later, I am a programmer, and I am capable of solving problems for others, possibly contributing my skills and time to people who need help. I love the creativity side of programming as well. When I have an idea to create a logo or a web app, I can do so in no time!</p>
  </section>

</section>
