<nav>
  <!-- <div id="trapezoid-top"></div> -->
  <ul click-children="clickable" selector="li">
    <li><a class="nav-a-tag" id="animations-nav" href="#/animations" data-index="{{$index}}"><img id="nav-carrot" src="img/carrot.png" alt="carrot" />Logos</a></li>
    <li><a class="nav-a-tag" href="#/about"><img id="nav-plant2" src="img/plant2.png" alt="plant2" />About Me</a></li>
    <li><a class="nav-a-tag" href="#/projects"><img id="nav-plant" src="img/plant.png" alt="plant" />Projects</a></li>
    <li><a class="nav-a-tag" id="blog-nav" href="#/blog"><img id="nav-flower" src="img/flower.png" alt="flower" />Blog</a></li>
  </ul>
  <!-- <div id="trapezoid-bottom"></div> -->
</nav>
